* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #1e1e2e;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}

.app-content {
 
    max-width: 1240px;
    padding: 20px;
}
